.App {
  text-align: center;
}

body {
  font-size: calc(16px + 1vw);
  line-height: calc(1.1em + 0.5vw);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1 {
  font-size: calc(1.2em + 3vw);
}

@media (min-width: 50em) {
  h1 {
    font-size: 50px;
  }
}
h2 {
  font-size: calc(1.2em + 3vw);
}

@media (min-width: 50em) {
  h2 {
    font-size: 50px;
  }
}

a {
  color: white
}
.navbar {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
.social-container {
  background: #282c34;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.facebook {
  color: #4968ad;
}
a.instagram {
  color: #d6249f;
}
a.linkedin {
  color: #0a69c7;
}
a.youtube {
  color: #eb3223;
}
a.bandCamp {
  color: teal;
}
a.spotify {
  color: green;
}
a.soundcloud {
  color: orange;
}
p.aboutMe {
  font-size: 20px;
  margin-left: 70;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5x;
  margin-inline-end: 5px;
  text-align: left;
  display: block;
}